{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Laptops</h3>
    </div>
    <div class="col">
        <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#newLaptopModal">New Laptop</a>
    </div>
    <div class="col">
      <form method="POST">
        {% csrf_token %}
        <div class="input-group mb-2">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="search_text" id="search_text" placeholder="Name ...">
            </div>
            <div class="col">
              <button class="btn btn-success btn-sm">Search</button>
            </div>
          </div>
          
        </div>
        
      </form>
    </div>
</div>

<hr/>
      <div class="table-responsive small">
        <table class="table table-sm">
          <thead class="">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date Added</th>
              <th scope="col">Student</th>
              <th scope="col">Serial No.</th>
              <th scope="col">Make</th>
              <th scope="col">Model</th>
              <th scope="col">Color</th>
             
              <th scope="col" colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            {% for laptop in page_obj %}
            <tr>
              <td>{{laptop.id}}</td>
              <td>{{laptop.created}}</td>
              <td>{{laptop.student}}</td>
              <td>{{laptop.serial_number}}</td>
              <td>{{laptop.make}}</td>
              <td>{{laptop.model}}</td>
              <td>{{laptop.color}}</td>
              <td>
                <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#laptopSpecificationsModal{{ laptop.id }}"><i class="bi bi-eye-fill"></i></a>
              </td>
              <td><a class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#editLaptopModal{{ laptop.id }}">
                <i class="bi bi-pencil-square"></i>
              </a>
              </td>
              
              <td><a href="#" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteLaptopModal{{ stock.id }}">
                <i class="bi bi-trash"></i>
              </a></td>
            
            </tr>
           
        
            {% endfor %}

          </tbody>
        </table>
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
      </div>
{% endblock content %}